html,body,h1,h2,h3,h4,p,div,ul,li,svg{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
html,body{
	height: 100%;
	position: relative;
	background: rgb(250,250,250);
}
.container{
    width:1170px;
    margin:auto;
}
.container .plot{
	width:100%;
	height: 700px;
	position: relative;
}


/*------------font-------------*/
body{
	font-family:"Roboto",Arial,sans-serif;
	font-size: 16px;
    color:rgb(50,50,50);
}
h1{
	font-size: 2em;
	margin: 30px 0 30px;
}
h2{
	font-size:1.5em;
	margin: 0 0 20px;
}
p{
    margin: 0 0 20px;
}

/*------------tooltip-------------*/
.tooltip{
	width: 150px;
	padding: 15px;
	background: yellow;
	position: absolute;
	top:0;
	opacity:0;
}

/*-----------control--------------*/
.control .button{
    color:#000;
    background: #fff;
    text-align:center;

    display:block;
    height:60px;
    float:left;
    line-height:60px;
    padding: 0 20px;
    margin-right:30px;
}
.control .button:hover{
    background: rgb(245,245,245);
}

/*------------svg-----------------*/
.plot .team circle{
    stroke-width:2px;
    stroke: rgb(50,50,50);
    fill: rgba(200,200,200,.3)
}
